/* ==========================================================================
  Logo-Head - hero
========================================================================== */
.head {
    width: 100%;
    height: 100%;
}

.head {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 800px;
    background: rgb(40, 70, 102) url('../img/head-01.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.head h1 {
    margin: 200px 0 45px 0;
    font-weight: 300;
    font-size: 45px;
}
.head h1 span {
    display: inline-block;
    color: #a1a9b0;
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
}
/* ==========================================================================
Buttons
========================================================================== */
.use-btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #4b98a9;
    font-size: 16px;
}
.use-btn:hover, .use-btn:focus {
    background-color: #73d0da;
    color: #fff;
    text-decoration: none;
}
.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}
.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
    border-color: #73d0da;
    color: #73d0da;
    text-decoration: none;
}
.read-more-btn {
    display: inline-block;
    color: #323a45;
    text-transform: uppercase;
    font-weight: 400;
}
.read-more-btn i, .download-btn i {
    margin-left: 5px
}
.showcase .download-btn {
    margin-top: 50px
}
.download .download-btn {
    margin-top: 25px
}

/* ==========================================================================
Book Form Box
========================================================================== */
.input-control{
    border-radius: 0;
    border: 1px solid #fff;
    font-size: 1.929em;
    height: 62px;
    padding: 6px 18px;
    color: #808080;
    background: none;
}
.book-container{
    border: 1px solid #fff;
    position: relative;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.book-container input{
    display: inline-block;
    margin-bottom:50px;
}

/* ==========================================================================
Features List
========================================================================== */
.features-list {
    padding: 130px 0
}
.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #24374b;
    font-size: 20px;
}
.features-list p {
    margin-bottom: 20px;
    color: #778899;
}
.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
}
.feature-icon {
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    border: solid 2px #4e9ba3;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}
.feature-icon i {
    color: #4e9ba3
}